body {
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

.top-nav {
    display: flex;
    justify-content: space-around;
    background-color: #003D29;
    color: white;
    max-height: 36px;
    align-items: center;
}

.contect-det {
    display: flex;
    gap: 10px;
    align-items: center;
}

.dropdown-content {
    display: flex;
    gap: 20px;
}

.top-bottom {
    display: flex;
    gap: 20px;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 400;
}

li {
    text-decoration: none;
    padding: 15px 15px;
    list-style-type: none;
}

.search-bar {
    display: flex;
    position: relative;  
    left: 30px;
}

#search {
    width: 350px;
    max-height: 35px;
    border-radius: 50px;
    border: 1px solid gray;
    padding: 20px;
}

.account-cart {
    display: flex;
    gap: 20px;
    padding: 10px 20px;
}

.account {
    padding: 10px;
}

.container {
    display: flex;
    background-image: url(bg-stage.png);
    height: 650px;
    align-items: center;
    margin-left: 40px;
    margin-bottom: 40px;

}

.title-text {
    color: #003d29;
    font-size: 35px;
    line-height: 0.6;
    font-family: Eina02, sans-serif;
}

p {
    font-size: 20px;
    color: #231f1e;
}

.button {
    padding: 15px 30px;
    text-transform: capitalize;
    border-radius: 50px;
    font-size: 20px;
    background-color: #003d29;
    color: #F5F6F6;
    border: none;
    cursor: pointer;
}

.button1:hover {
    background-color: #231f1e;
    border: none;
}

.top-shop-Categories {
    margin-left: 30px;
    height: 600px;

}

.img-shop {
    display: flex;
    gap: 23px;
    position: relative;
}

.img-text {
    position: absolute;
    top: 10px;
    color: white;


}


.img-deals {
    display: flex;
}

.Deals {
    background-color: #F5F6F6;
    width: 400px;
    margin: 10px;
}

.img-weekly {
    display: flex;
}

.weekly {
    background-color: #F5F6F6;
    width: 400px;
    margin: 10px;
}

.full-img {
    width: 100%;
    height: 700px;
}

.container-carddel {
    position: relative;
}

.text-block {
    position: absolute;
    right: 40px;
    bottom: 100px;
    background-color: #003d29;
    color: white;
    padding: 50px 40px;


}

.text-block>p {
    color: white;
}

.top-heading {
    font-size: 35px;
    font-weight: 700;
    font-family: Inter, sans-serif;
}

.buttonmain {
    padding: 15px 30px;
    text-transform: capitalize;
    border-radius: 50px;
    font-size: 20px;
    background-color: #003d29;
    color: #F5F6F6;
    border: 1px solid white;
    cursor: pointer;
}

.bank-card {
    display: flex;
    justify-content: space-around;
    background-color: #FFE6CC;
    height: 330;
    align-items: center;
}

.img-products {
    display: flex;
}

.brand-img {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

}

.brand-img-title {
    display: flex;
    gap: 20px;
    background-color: #F5F6F6;
    margin: 10px;
    width: 22%;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
}

.most-selling {
    background-color: #F5F6F6;
    width: 400px;
    margin: 10px;
}

.brand-img-title:hover {
    border: 1px solid black;
}

.brand-content {
    line-height: 0.3;
}

.save-money {
    display: flex;
    margin: 10px;
}

.save-hun {
    background-color: #F2E4D9;
    margin: 12px;
}

.save-twe {
    background-color: #F9DCDC;
    margin: 12px;
}

.save-six {
    background-color: #F2E4D9;
    margin: 12px;
}

.save-fiv {
    background-color: #D2F7EC;
    margin: 12px;
}

.content-save-det {
    margin-left: 20px;
}

.number {
    color: #cb9917;
}

.buttont {
    padding: 15px 30px;
    text-transform: capitalize;
    border-radius: 50px;
    font-size: 20px;
    background-color: white;
    color: black;
    border: 1px solid gray;
    cursor: pointer;
}

.buttonall:active {
    background-color: #003d29;
}

.all-type-items {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

.best-deals-foryou {
    margin: 10px;
    background-color: #F5F6F6;
}

.trending-container {
    display: flex;
    gap: 25px;
}

.trending-content-img {
    background-color: #F5F6F6;
}

.trending-content-det {
    padding: 10px;
    line-height: 0.8;
}

.buttons {
    padding: 10px 20px;
    text-transform: capitalize;
    border-radius: 50px;
    font-size: 20px;
    background-color: #231f1e;
    color: white;
    cursor: pointer;
    border: none;
}

.buttontwo:hover {
    background-color: #003d29;
}

.trending-products {
    margin-left: 20px;
}

.store-img-det {
    display: flex;
    gap: 10px;

}

.best-store-container {
    margin-left: 20px;
}

.tag-det {
    display: flex;
}

.services-container {
    display: flex;
    gap: 10px;
}

.service-shop-det {
    background-color: #F5F6F6;
}

.services-shop {
    margin-left: 20px;
}

.service-content {
    padding: 20px;
}

.last-container {
    display: flex;
    gap: 20px;
    margin-left: 20px;
    border-bottom: 1px solid gray;
}

.seller-img-det {
    display: flex;
    gap: 10px;
    align-items: center;
}

.seller-help-cards {
    display: flex;
    justify-content: space-around;
}

.terms-privacy {
    display: flex;
    justify-content: space-around;
}